**2nd semester project** - feature engineering


Elena Skrtic

Simao Ferreira

Laura Keri

In [1]:
pip install -r requirements.txt --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

Loading the data

In [3]:
AAPL_df = pd.read_csv('AAPL_df.csv')

# Display the first 3 rows of the DataFrame
AAPL_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,6.453203,6.485555,6.421456,6.470740,493729600,0.0,0.0
1,2010-01-05 00:00:00-05:00,6.488582,6.518515,6.447763,6.481930,601904800,0.0,0.0
2,2010-01-06 00:00:00-05:00,6.481929,6.507629,6.372173,6.378825,552160000,0.0,0.0

In [4]:
# Read the CSV file
AMZN_df = pd.read_csv('AMZN_df.csv')

# Display the first 3 rows of the DataFrame
AMZN_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,6.8125,6.8305,6.6570,6.6950,151998000,0.0,0.0
1,2010-01-05 00:00:00-05:00,6.6715,6.7740,6.5905,6.7345,177038000,0.0,0.0
2,2010-01-06 00:00:00-05:00,6.7300,6.7365,6.5825,6.6125,143576000,0.0,0.0

In [5]:
# Read the CSV file
GOOG_df = pd.read_csv('GOOG_df.csv')

# Display the first 3 rows of the DataFrame
GOOG_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,15.615220,15.678981,15.547723,15.610239,78541293,0.0,0.0
1,2010-01-05 00:00:00-05:00,15.620949,15.637387,15.480475,15.541497,120638494,0.0,0.0
2,2010-01-06 00:00:00-05:00,15.588072,15.588072,15.102393,15.149715,159744526,0.0,0.0

In [6]:
# Read the CSV file
META_df = pd.read_csv('META_df.csv')

# Display the first 3 rows of the DataFrame
META_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2012-05-18 00:00:00-04:00,42.005431,44.952305,37.959724,38.189480,573576400,0.0,0.0
1,2012-05-21 00:00:00-04:00,36.491281,36.621144,32.965024,33.993931,168192700,0.0,0.0
2,2012-05-22 00:00:00-04:00,32.575438,33.554399,30.907208,30.967144,101786600,0.0,0.0

In [7]:
# Read the CSV file
MSFT_df = pd.read_csv('MSFT_df.csv')

# Display the first 3 rows of the DataFrame
MSFT_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,23.181749,23.545147,23.159037,23.431585,38409100,0.0,0.0
1,2010-01-05 00:00:00-05:00,23.355878,23.545148,23.196891,23.439156,49749600,0.0,0.0
2,2010-01-06 00:00:00-05:00,23.378592,23.530009,23.106045,23.295315,58182400,0.0,0.0

In [8]:
# Read the CSV file
NVDA_df = pd.read_csv('NVDA_df.csv')

# Display the first 3 rows of the DataFrame
NVDA_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-04 00:00:00-05:00,4.244816,4.270042,4.153086,4.240230,80020400,0.0,0.0
1,2010-01-05 00:00:00-05:00,4.224176,4.348012,4.224176,4.302147,72864800,0.0,0.0
2,2010-01-06 00:00:00-05:00,4.299855,4.338841,4.258577,4.329668,64916800,0.0,0.0

In [9]:
# Read the CSV file
TSLA_df = pd.read_csv('TSLA_df.csv')

# Display the first 3 rows of the DataFrame
TSLA_df.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0

In [ ]:
#we decided that we need to use the basic features